.div1{
    width:100%;
}
.divvv{
    width:100%;
}
body{
    /* font-family: "Karla", sans-serif; */
    /* font-family: "Poppins", sans-serif; */
    font-family: "Ubuntu", sans-serif;
    
    background:#373E41;
}
.navbar-toggler-icon
{
    background:white;
    border-radius:5px;
}
.navbar-toggler-icon:hover
{
    
    border-radius:4px;
}
.navbar{
    background:#373E41;
}
p{
    margin:0px;
}
#sec1{
    width:100;
    height:80vh;
    background:#373E41;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;

}
.spansec{
    color:#F5B027;
    font-weight:800;
    font-size:24px

}
.myimage{
    border-radius:50%;
    height:60%;
    width:100px;
    border:2px #F5B027 SOLID;
}
.sec1content{
    
    display:flex;
    flex-direction:column;
    align-items: center;
}
.sec1content p{
    font-weight:400;
    font-size:18px

}
.secbuttons{
    color:#ebba59;
    background:#5c6569;
    padding:0px 18px;
    border-radius:10px;
    margin-right:10px;
    border:0px;
}
.secbuttons:hover{
    background:#6a7377;
    padding:0px 20px;
}
/* about section */
#About{
    height:350px;
    display:flex;
    align-items:center;
    /* margin:auto; */
    /* border:1px black solid; */
    padding-top:45px
    
}
.aboutsec{
    display:flex;
    justify-content: space-between;
    /* border:1px black solid; */
    margin:auto;
    /* background:#373E41;
    border:0px; */
    /* border-radius:5px; */
}
.abtp1,.abtp2{
    width:50%;
}
.abtp1{
    text-align:center;
}
.abtp1 img{
    border-radius: 10px; 
    border:1px black solid;
    height:40%
}
.abtp2 p{
    max-width:75%;
}
/* skills */
#skills{
    /* border:1px black solid; */
    width:98%;
    /* height:60%; */
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
   
}
.skillsdiv{
    box-shadow:3px 3px 3px rgba(0,0,0,0.25);
    /* border:1px black solid; */
    border-radius:10px;
    display:flex;
    min-height:80px;
    margin-bottom:8px;
    width:75%;
    margin:auto;
    
}
.skillsdiv .p1{
    width:25%;
    text-align:center;
    background:#373E41;
    font-size:26px;
    font-weight:350;
    color:#e9b03f;
    
}
.skillsdiv .p2{
    width:75%;
    font-size:18px;
}
.skillsdiv .p1,.p2{
    border-bottom-left-radius: 10px;
    border-top-left-radius:10px;
}
.skillslist{
    display:flex;
    gap:10px;
    list-style-type:none;
}
/* project */
#projects{
    margin-top:30px;
    margin:auto;
    display:flex;
    flex-direction: column;
    gap:8px;
    
}
.proh{
    /* border:1px black solid; */
    margin:auto;
}
.imgdiv{
    /* border:1px black solid; */
    width:20%;
    height:20%;
    /* align-items:center; */
}
.proimg{
   height:100%;
   width:100%;
   border-radius:10px;
}
.prodiv{
    background:#373E41;
    margin:auto;
    width:75%;
    display:flex;
    /* border:1px black solid; */
    justify-content:space-between;
    padding:10px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.25);
    border-radius:4%;
    border-color: #6a7377;
    gap:2px;
}
.prodiv:hover{
    width:76%;
    transition:200;
   
}
.div2{
    width:50%;
}
.div2 p{
   gap: 2px;
   color:whitesmoke;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size:medium
}
.div2 h4{
    color:white;
    font-weight: 800;
    /* box-shadow:0px 0px 8px rgba(0,0,0,0.25); */
}
.gitbtn,.demobtn{
    background:#5c6569;
    padding:0px 18px;
    border-radius:8px;
    margin-right:10px;
    border:0px;
    color:#ebba59;
}
.gitbtn:hover{
    background:#6a7377;
    padding:0px 20px;
}
.demobtn:hover{
    background:#6a7377;
    padding:0px 20px;
}
/* contact */
#contact{
    /* border:1px black solid; */
    background:#373E41;;
}
.divvv{
    display:flex;
    justify-content:center;
    flex-direction:space-between;
    border-radius:8px;
    /* border:1px black solid; */
    /* max-width:80%; */
}
.concctimg{
    height:50%;
    width:10%;
   
}
.imgdivv{
    width:40%;
    height:40%;
    /* border:1px black solid; */
}
.div1{
    max-height:80px;
    display: flex;
    justify-content:center;
    background-color: rgb(226, 74, 74);
    width:100%;
    height:2%;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    /* float:left; */
    /* border:1px black solid; */
}
.div5{
    max-height:70px;
    display: flex;
    justify-content:center;
    background-color:rgb(101, 202, 206);
    width:20%;
    height:2%;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.foot{
    margin-top:10px;
    background:black;
    color:aliceblue;
    text-align:center;
    height:50px;
}
/* mobile version */
@media only screen and (max-width: 768px) {
    .div1{
        max-height:70px;
        display: flex;
        justify-content:center;
        background-color: rgb(226, 74, 74);
        width:30%;
        height:2%;
        border-top-left-radius:4px;
        border-bottom-left-radius:4px;
        /* border:1px black solid; */
    }
    .div5{
        max-height:70px;
        display: flex;
        justify-content:center;
        background-color:rgb(101, 202, 206);
        width:30%;
        height:2%;
        border-top-right-radius:4px;
        border-bottom-right-radius:4px;
    }
    .concctimg{
        height:60%;
        width:40%;
       
    }
    .intro{
        text-align: center;
    }
    #About{
        height:500px;
        display:flex;
        align-items:center;
        /* margin:auto; */
        /* border:1px black solid; */
        padding-top:45px
        
    }
    #skills{
        /* border:1px black solid; */
        width:98%;
        /* height:60%; */
        margin:auto;
        display:flex;
        flex-direction:column;
        height:400px;
       
    }
    .skillsdiv .p1{
        width:55%;
        text-align:center;
        background:#373E41;
        font-size:26px;
        font-weight:350;
        color:#e9b03f;
        
    }
    .skillsdiv .p2{
        width:75%;
        font-size:18px;
    }
    #projects{
        margin-top:80px;
        margin:auto;
        display:flex;
        flex-direction: column;
        /* height:450px; */
        
    }
    .btndiv{
        display:flex;

    }
    .div2{
        width:70%;
    }
    .headcontct{
        text-align:center ;
    }
    .skillsdiv{
        flex-direction:column;
    }
    .skillslist{
        width:100%;
        flex-wrap:wrap;
    }
    .skillsdiv .p1{
        width:100%;
       
    }
    .skillsdiv .p2{
        border-bottom-left-radius: 10px;
        
    }
    .skillsdiv .p1{
        border-top-right-radius:10px;
    }
}